body {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
}

.eyes-apple {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px black solid;
    border-radius: 50%;
    margin: 5px;
    position: relative;
}

.pupil {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}